[package]
name = "geyser-grpc-connector"
version = "0.7.2+yellowstone.1.11"
edition = "2021"

description = "Multiplexing and Reconnection on Yellowstone gRPC Geyser client streaming"
license = "Apache-2.0"
authors = ["GroovieGermanikus <groovie@mango.markets>"]
repository = "https://github.com/blockworks-foundation/geyser-grpc-connector"

[dependencies]
# v1.11.0+solana.1.16.17
yellowstone-grpc-proto = "1.11.0"
# v1.12.0+solana.1.16.17
yellowstone-grpc-client = "1.12.0"

# required for CommitmentConfig
solana-sdk = "~1.16.17"

url = "2.5.0"
async-stream = "0.3.5"
tokio = { version = "1.28" , features = ["rt"] }
futures = "0.3.28"
merge-streams = "0.1.2"
anyhow = "1.0.70"
log = "0.4.17"
tracing = "0.1.37"
itertools = "0.10.5"
derive_more = "0.99.17"

base64 = "0.21.5"
bincode = "1.3.3"

[dev-dependencies]
tracing-subscriber = "0.3.16"
