[package]
name = "geyser-grpc-connector"
version = "0.10.4+yellowstone.1.13"
edition = "2021"

description = "Multiplexing and Reconnection on Yellowstone gRPC Geyser client streaming"
license = "Apache-2.0"
authors = ["GroovieGermanikus <groovie@mango.markets>"]
repository = "https://github.com/blockworks-foundation/geyser-grpc-connector"

[dependencies]
yellowstone-grpc-client = "~1.14.0"
yellowstone-grpc-proto = "~1.13.0"

# required for CommitmentConfig
solana-sdk = "1"

url = "2.5.0"
async-stream = "0.3.5"
tokio = { version = "1.28" , features = ["rt", "rt-multi-thread"] }
futures = "0.3.28"
merge-streams = "0.1.2"
anyhow = "1.0.70"
log = "0.4.17"
tracing = "0.1.37"
itertools = "0.10.5"
derive_more = "0.99.17"

base64 = "0.21.5"
bincode = "1.3.3"

csv = "1.3.0"

tonic-health = "0.10.2"

[dev-dependencies]
tracing-subscriber = "0.3.16"
solana-logger = "1"
